-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "RssPriority" AS ENUM ('HIGH', 'NORMAL', 'LOW');

-- CreateEnum
CREATE TYPE "RssRankSnapshotStatus" AS ENUM ('AI_SUCCESS', 'FALLBACK_DETERMINISTIC');

-- CreateEnum
CREATE TYPE "RssRankSnapshotSource" AS ENUM ('CRON', 'ON_DEMAND');

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MessageReadStat" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "messageExternalId" TEXT NOT NULL,
    "messageTitle" TEXT,
    "sourceKind" TEXT,
    "publicationName" TEXT,
    "firstOpenedAt" TIMESTAMP(3),
    "lastOpenedAt" TIMESTAMP(3),
    "openCount" INTEGER NOT NULL DEFAULT 0,
    "totalSecondsRead" INTEGER NOT NULL DEFAULT 0,
    "maxScrollPct" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "completionPct" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "completedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "MessageReadStat_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RssSource" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "rssUrl" TEXT NOT NULL,
    "normalizedUrl" TEXT NOT NULL,
    "siteUrl" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "lastSyncedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "RssSource_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UserRssSubscription" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "rssSourceId" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "category" TEXT NOT NULL DEFAULT 'other',
    "priority" "RssPriority" NOT NULL DEFAULT 'NORMAL',
    "dailyCap" INTEGER NOT NULL DEFAULT 2,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "UserRssSubscription_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RssItem" (
    "id" TEXT NOT NULL,
    "rssSourceId" TEXT NOT NULL,
    "externalId" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "author" TEXT,
    "link" TEXT,
    "imageUrl" TEXT,
    "publishedAt" TIMESTAMP(3),
    "snippet" TEXT,
    "htmlRaw" TEXT,
    "textExtracted" TEXT,
    "contentHash" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "RssItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UserRssDailyRankSnapshot" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "dayKey" TEXT NOT NULL,
    "rankedItemIds" JSONB NOT NULL,
    "status" "RssRankSnapshotStatus" NOT NULL,
    "source" "RssRankSnapshotSource" NOT NULL,
    "model" TEXT,
    "inputFingerprint" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "UserRssDailyRankSnapshot_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UserRssRankJobLock" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "dayKey" TEXT NOT NULL,
    "ownerId" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "UserRssRankJobLock_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE INDEX "MessageReadStat_userId_lastOpenedAt_idx" ON "MessageReadStat"("userId", "lastOpenedAt");

-- CreateIndex
CREATE INDEX "MessageReadStat_messageExternalId_idx" ON "MessageReadStat"("messageExternalId");

-- CreateIndex
CREATE UNIQUE INDEX "MessageReadStat_userId_messageExternalId_key" ON "MessageReadStat"("userId", "messageExternalId");

-- CreateIndex
CREATE UNIQUE INDEX "RssSource_rssUrl_key" ON "RssSource"("rssUrl");

-- CreateIndex
CREATE UNIQUE INDEX "RssSource_normalizedUrl_key" ON "RssSource"("normalizedUrl");

-- CreateIndex
CREATE INDEX "RssSource_normalizedUrl_idx" ON "RssSource"("normalizedUrl");

-- CreateIndex
CREATE INDEX "UserRssSubscription_userId_isActive_idx" ON "UserRssSubscription"("userId", "isActive");

-- CreateIndex
CREATE UNIQUE INDEX "UserRssSubscription_userId_rssSourceId_key" ON "UserRssSubscription"("userId", "rssSourceId");

-- CreateIndex
CREATE INDEX "RssItem_rssSourceId_publishedAt_idx" ON "RssItem"("rssSourceId", "publishedAt");

-- CreateIndex
CREATE UNIQUE INDEX "RssItem_rssSourceId_externalId_key" ON "RssItem"("rssSourceId", "externalId");

-- CreateIndex
CREATE INDEX "UserRssDailyRankSnapshot_dayKey_expiresAt_idx" ON "UserRssDailyRankSnapshot"("dayKey", "expiresAt");

-- CreateIndex
CREATE UNIQUE INDEX "UserRssDailyRankSnapshot_userId_dayKey_key" ON "UserRssDailyRankSnapshot"("userId", "dayKey");

-- CreateIndex
CREATE INDEX "UserRssRankJobLock_dayKey_expiresAt_idx" ON "UserRssRankJobLock"("dayKey", "expiresAt");

-- CreateIndex
CREATE UNIQUE INDEX "UserRssRankJobLock_userId_dayKey_key" ON "UserRssRankJobLock"("userId", "dayKey");

-- AddForeignKey
ALTER TABLE "MessageReadStat" ADD CONSTRAINT "MessageReadStat_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserRssSubscription" ADD CONSTRAINT "UserRssSubscription_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserRssSubscription" ADD CONSTRAINT "UserRssSubscription_rssSourceId_fkey" FOREIGN KEY ("rssSourceId") REFERENCES "RssSource"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RssItem" ADD CONSTRAINT "RssItem_rssSourceId_fkey" FOREIGN KEY ("rssSourceId") REFERENCES "RssSource"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserRssDailyRankSnapshot" ADD CONSTRAINT "UserRssDailyRankSnapshot_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserRssRankJobLock" ADD CONSTRAINT "UserRssRankJobLock_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

